@use '@/lib/styles/mixin.scss' as *;

.performance_solutions_operate {
    &__inner {
        padding: 32px 40px;
        border-radius: 32px;
        background: linear-gradient(95deg, #FDE1D4 0.59%, #E7D4FE 50.29%, #FAF8F6 100%), #E6E5E7;

        @include tablet-down {
            padding-inline: 16px;
        }
    }

    &__title {
        margin-bottom: 16px;
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 16px 20px;

        @include tablet-down {
            grid-template-columns: 1fr 1fr;
        }

        @include mobile {
            grid-template-columns: 1fr;
        }
    }

    &__item {
        padding: 16px;
        border-radius: 24px;
        border: 1px solid #fff;

        &>*:not(:last-child) {
            margin-bottom: 8px;

            @include mobile {
                margin-bottom: 4px;
            }
        }
    }

    &__item_top {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    &__item_number {
        display: flex;
        flex: 0 0 40px;
        width: 40px;
        height: 40px;
        padding: 8px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
        color: #000;
        font-size: 24px;
        font-weight: 500;
        line-height: 1.1667;
        border-radius: 8px;
        background: #FFF;
    }
}