@use '@/lib/styles/mixin.scss' as *;

.performance_solutions_moves {
    &__inner {
        border-radius: 24px;
        background: linear-gradient(95deg, #005DC3 4.39%, rgba(0, 0, 64, 0.00) 96.09%), linear-gradient(91deg, #005DC3 0.16%, #000040 101.23%);
        padding: 32px;
        position: relative;
        z-index: 1;
    }

    &__title {
        color: #FFF;
    }

    &__icon {
        position: absolute;
        top: -55px;
        right: -55px;
        z-index: -1;

        @include mobile {
            top: -20px;
            right: -82px;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 32px;
        margin-bottom: 24px;

        @include tablet-down {
            grid-template-columns: 1fr 1fr;
        }

        @include mobile {
            grid-template-columns: 1fr;
        }
    }

    &__item_title {
        @include mobile {
            font-size: 24px;
            line-height: 1.1667;
        }

        span {
            color: #FFF;
        }
    }

    @include mobile {
        &__item_description {
            font-size: 16px;
            line-height: 1.1875;
        }
    }
}