@use '@/lib/styles/mixin.scss' as *;

.home_why_choose {
    &__title {
        margin-bottom: 32px;
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        margin-bottom: 32px;

        @include mobile {
            grid-template-columns: 1fr;
        }
    }

    &__item {
        padding: 15px 16px;
        border-radius: 24px;
        border: 1px solid #E6E5E7;

        &>*:not(:last-child) {
            margin-bottom: 8px;
        }
    }

    &__item_top {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &__item_image {
        display: flex;
        flex: 0 0 40px;
        height: 40px;
        padding: 8px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 8px;
        background: var(--Gradient, linear-gradient(180deg, #FDE1D4 0%, #E7D4FE 50%, #FAF8F6 100%));
    }

    &__item_title {
        color: #000;
        font-size: 24px;
        font-weight: 500;
        line-height: 1.1667;
    }

    &__link_wrapper {
        text-align: right;

        @include mobile {
            &>* {
                width: 100%;
            }
        }
    }

    &__link {
        @include mobile-up {
            flex: 0 0 264px;
        }

        @include mobile {
            flex-grow: 1;
        }
    }
}